<style>
    .vote-form {
        background-color: rgb(255,255,255);
        padding: 40px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .vote-form-info {
        font-size: 24px;
        font-weight: bold;
        padding:10px
    }

    .vote-form-value {
        font-size: 24px;
    }

    .vote-form-text {
        font-size: 18px;
    }

    .voting-form-error {
        font-size: 18px;
        color: red;
    }

    .vote-button {
        float:right;
    }

    .form-button {
        cursor: pointer;
    }
</style>

{% if not in_contest %}
    <hr style="padding-top: 0.1em">
{% endif %}

{% include 'lightbox.html' %}

{% if can_vote %}
    <div class="vote-form" id="id_vote_form">
        <div id="id_has_voted_prompt">
            <span class="vote-form-info">{{ _('Current Vote:') }}</span>
            <span id="id_current_vote_value" class="vote-form-value"></span>
            <br/>
            <br/>
            <span class="vote-form-text">{{  _('Change your vote below!') }}</span>
        </div>
        <div id="id_has_not_voted_prompt">
            <span class="vote-form-text">{{ _("Cast your vote on this problem's weightage below!") }}</span>
        </div>
        <br/>
        <br/>
        <form method="post">
            {% csrf_token %}
            <span class="vote-form-info">{{ _('Points') }}</span>
            <input id="id_points" class="vote-form-value" type="number" step="any" name="points">
            <script>
                console.log($('#id_points').get(0))
                $('#id_points').get(0).addEventListener('keydown', e => {
                    let invalidChars = ['e','+','-','.'];
                    if(invalidChars.includes(e.key)){
                        e.preventDefault();
                    }
                });
            </script>
            <br/>
            <span id="id_points_error" class="voting-form-error"></span>
            <br/>
            <span class="vote-form-info">{{ _('Note') }}</span>
            <br/>
            <textarea id="id_note" class="vote-form-text" name="note" rows="6" cols="80"></textarea>
            <br/>
            <span id="id_note_error" class="voting-form-error"></span>
            <br/>
            <button id="id_vote_form_submit_button" class="vote-button">{{ _('Vote') }}</button>
            <input type="hidden" name="vote_confirmation"/>
        </form>
    </div>

    <a class="form-button" id="id_vote_button"></a>

    <form id="id_delete_vote_form">
        {% csrf_token %}
        <a class="form-button" id="id_delete_vote_button">{{ _('Delete vote') }}</a>
    </form>

    <script>
        let voted_points = {{ points_placeholder }};
        let voted_note = `{{ note_placeholder }}`;
        {% if has_voted %}
            let has_voted = true;
            voted_points = {{ voted_points }};
            voted_note = `{{ voted_note }}`;
        {% else %}
            let has_voted = false;
        {% endif %}
        //change
        function voteUpdate(){
            $('#id_has_voted_prompt').get(0).hidden = false;
            $('#id_current_vote_value').get(0).innerText = voted_points
            $('#id_has_not_voted_prompt').get(0).hidden = true;
            $('#id_delete_vote_form').get(0).hidden = false;
            if(has_voted) $('#id_vote_button').get(0).innerText = {{ _('Change vote') }};
            if(has_voted){
                $('#id_points').get(0).value = voted_points;
                $('#id_note').get(0).innerText = voted_note;
            } else {
                $('#id_points').get(0).value = '';
                $('#id_points').get(0).setAttribute('placeholder', voted_points);
                $('#id_note').get(0).innerText = '';
                $('#id_note').get(0).setAttribute('placeholder', voted_note);
            }
            $('#id_points_error').get(0).hidden = true;
            $('#id_note_error').get(0).hidden = true;
            has_voted = true;
        }

        function deleteVoteUpdate(){
            $('#id_has_voted_prompt').get(0).hidden = true;
            $('#id_has_not_voted_prompt').get(0).hidden = false;
            $('#id_delete_vote_form').get(0).hidden = true;
            $('#id_vote_button').get(0).innerText = {{ _('Vote on problem points') }};
            $('#id_points_error').get(0).hidden = true;
            $('#id_note_error').get(0).hidden = true;
            has_voted = false;
        }

        {% if has_errors and 'points' in problem_points_vote_form.errors %}
            //{{ _(problem_points_vote_form.errors['points'][0]) }}
        {% endif %}

        {% if has_errors and 'note' in problem_points_vote_form.errors %}
            //<span class="voting-form-error">{{  _(problem_points_vote_form.errors['note'][0]) }}</span>
        {% endif %}

        if(has_voted) voteUpdate();
        else deleteVoteUpdate();

        $('#id_delete_vote_button').get(0).onclick = function (){
            $.ajax({
                url: '{{ problem_code }}/delete_vote',
                type: 'POST',
                data: $('#id_delete_vote_form').serialize(),
                success: deleteVoteUpdate(),
                error: (data) => {
                    alert('Unable to delete vote: '+String(data));
                },
            });
        }

        $('#id_vote_form_submit_button').get(0).onclick = function(){
            $.ajax({
                url: '{{ problem_code }}',
                type: 'POST',
                data: $('#id_vote_form').serialize(),
                success: () => {
                    voted_note = $('#id_note').innerText;
                    voted_points = $('#id_points').value;
                    voteUpdate();
                },
                error: (data) => {
                    alert(data)
                }
            });
        }

        const voting_lightbox = createLightbox('id_voting_lightbox', 'id_vote_form')

        {% if has_errors %}
            activateLightbox(voting_lightbox)
        {% endif %}

        const vote_button = document.getElementById('id_vote_button')
        vote_button.onclick = function () {
            activateLightbox(voting_lightbox)
        }
    </script>
{% endif %}

{% if not in_contest %}
    <script>let vote_stats_lightbox = null;</script>

    {% include 'problem/voting-stats.html' %}
    <a class="form-button" id="id_vote_stats_button">{{ _('Voting statistics') }}</a>

    <script defer>
        vote_stats_lightbox = createLightbox('id_vote_stats_lightbox', 'id_vote_stats')

        const vote_stats_button = document.getElementById('id_vote_stats_button')
        vote_stats_button.onclick = function () {
            activateLightbox(vote_stats_lightbox)
        }
    </script>
{% endif %}