<style>
    .vote-form {
        background-color: rgb(255,255,255);
        padding: 40px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .vote-form-info {
        font-size: 24px;
        font-weight: bold;
        padding:10px
    }

    .vote-form-value {
        font-size: 24px;
    }

    .vote-form-text {
        font-size: 18px;
    }

    .voting-form-error {
        font-size: 18px;
        color: red;
    }

    .vote-button {
        float:right;
    }

    .form-button {
        cursor: pointer;
    }
</style>

{% if not in_contest %}
    <hr style="padding-top: 0.1em">
{% endif %}

{% include 'lightbox.html' %}

{% if can_vote %}
    <div class="vote-form" id="id_vote_form_box">
        <div id="id_has_voted_prompt">
            <span class="vote-form-info">{{ _('Current Vote:') }}</span>
            <span id="id_current_vote_value" class="vote-form-value"></span>
            <br/>
            <br/>
            <span class="vote-form-text">{{  _('Change your vote below!') }}</span>
            <br/>
            <br/>
        </div>
        <div id="id_has_not_voted_prompt">
            <span class="vote-form-text">{{ _("Cast your vote on this problem's weightage below!") }}</span>
            <br/>
            <br/>
        </div>
        <form id="id_vote_form">
            {% csrf_token %}
            <span class="vote-form-info">{{ _('Points') }}</span>
            <input id="id_points" class="vote-form-value" type="number" step="any" name="points">
            <script>
                $('#id_points').keydown(e => {
                    const invalidChars = ['e','+','-','.'];
                    if (invalidChars.includes(e.key)) {
                        e.preventDefault();
                    }
                });
            </script>
            <br/>
            <div id="id_points_error_box">
                <br/>
                <span id="id_points_error" class="voting-form-error"></span>
                <br/>
            </div>
            <br/>
            <span class="vote-form-info">{{ _('Note') }}</span>
            <br/>
            <textarea id="id_note" class="vote-form-text" name="note" rows="6" cols="80"></textarea>
            <br/>
            <div id="id_note_error_box">
                <br/>
                <span id="id_note_error" class="voting-form-error"></span>
                <br/>
            </div>
            <br/>
            <input type="submit" id="id_vote_form_submit_button" class="vote-button" value="{{ _('Vote') }}">
            <input type="hidden" name="vote_confirmation"/>
        </form>
    </div>

    <a class="form-button" id="id_vote_button"></a>

    <form id="id_delete_vote_form">
        {% csrf_token %}
        <a class="form-button" id="id_delete_vote_button">{{ _('Delete vote') }}</a>
    </form>

    <script>
        let voted_points = null;
        let voted_note = null;
        {% if has_voted %}
            let has_voted = true;
            voted_points = {{ voted_points }};
            voted_note = `{{ voted_note }}`;
        {% else %}
            let has_voted = false;
        {% endif %}

        function voteUpdate(){
            $('#id_has_voted_prompt').prop('hidden', false);
            $('#id_current_vote_value').prop('innerText', voted_points);
            $('#id_has_not_voted_prompt').prop('hidden', true);
            $('#id_delete_vote_form').prop('hidden', false);
            $('#id_vote_button').prop('innerText', `{{ _('Change vote') }} (`+voted_points+')');
            $('#id_points').prop('value', '');
            $('#id_points').prop('placeholder', voted_points);
            $('#id_note').prop('value', voted_note);
            $('#id_points_error_box').prop('hidden', true);
            $('#id_note_error_box').prop('hidden', true);
            has_voted = true;
        }

        function deleteVoteUpdate(){
            $('#id_has_voted_prompt').prop('hidden', true);
            $('#id_has_not_voted_prompt').prop('hidden', false);
            $('#id_delete_vote_form').prop('hidden', true);
            $('#id_vote_button').prop('innerText', `{{ _('Vote on problem points') }}`);
            $('#id_points').prop('value', '');
            $('#id_points').prop('placeholder', 10);
            $('#id_note').prop('value', '');
            $('#id_note').prop('placeholder', `{{ _("A short justification for your vote to this problem's points value.") }}`);
            $('#id_points_error_box').prop('hidden', true);
            $('#id_note_error_box').prop('hidden', true);
            has_voted = false;
        }

        if (has_voted) voteUpdate();
        else deleteVoteUpdate();

        $('#id_delete_vote_button').on('click', () => {
            $.ajax({
                url: '{{ problem_code }}/delete_vote',
                type: 'POST',
                data: $('#id_delete_vote_form').serialize(),
                success: () => {
                    deleteUserVote(voted_points);
                    voted_points = null;
                    voted_note = null;
                    deleteVoteUpdate();
                },
                error: data => {
                    alert('Unable to delete vote: '+data.responseText);
                },
            });
        });

        $('#id_vote_form').on('submit', e => e.preventDefault());
        $('#id_vote_form_submit_button').on('click', e => {
            e.preventDefault()
            $.ajax({
                url: '{{ problem_code }}/vote',
                type: 'POST',
                data: $('#id_vote_form').serialize(),
                success: data => {
                    updateUserVote(voted_points, data.points)
                    voted_note = data.note;
                    voted_points = data.points;
                    voteUpdate();
                    $('#id_vote_form_submit_button').removeAttr('disabled'); //dmoj auto disables to prevent resubmission
                    closeLightbox('id_voting_lightbox');
                },
                error: data => {
                    let errors = data.responseJSON;
                    if('points' in errors){
                        $('#id_points_error_box').prop('hidden', false);
                        $('#id_points_error').prop('textContent', errors.points[0]);
                    } else {
                        $('#id_points_error_box').prop('hidden', true);
                    }
                    if('note' in errors){
                        $('#id_note_error_box').prop('hidden', false);
                        $('#id_note_error').prop('textContent', errors.note[0]);
                    } else {
                        $('#id_note_error_box').prop('hidden', true);
                    }
                }
            });
        });

        createLightbox('id_voting_lightbox', 'id_vote_form_box');
        $('#id_vote_button').on('click', () => activateLightbox('id_voting_lightbox'));
    </script>
{% endif %}

{% if not in_contest %}
    {% include 'problem/voting-stats.html' %}
    <a class="form-button" id="id_vote_stats_button">{{ _('Voting statistics') }}</a>
    <script>
        createLightbox('id_vote_stats_lightbox', 'id_vote_stats')
        $('#id_vote_stats_button').on('click', () => {
            activateLightbox('id_vote_stats_lightbox');
            reload_vote_graph();
        });
    </script>
{% endif %}
