<style>
    .vote-stats-background{
        background-color: rgb(255,255,255);
        padding: 20px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .canvas{
        border: 1px;
        border: solid;
        border: #000000;
    }

    .vote-stats-value{
        font-size: 24px;
        font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
    }

    .vote-stats-text{
        font-size: 18px;
    }

    .vote-stats-info{
        font-size: 24px;
        font-weight: 500;
        font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
        padding: 10px;
    }

    .checkbox{
        width: 20px;
        height: 20px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
</style>

<div class="vote-stats-background" id="id_vote_stats">
    <script src={{ static('libs/chart.js/Chart.js') }}></script>
    <span class="vote-stats-info">{{ _('Voting Statistics') }}</span>
    <br/>
    <canvas class="canvas", id="voteChart"></canvas>
    <br/>
    {% if has_votes %}
        {% if can_vote %}
            <span class="vote-stats-info">{{ _('Show Votes') }}</span>
            <label class="switch">
                <input class="checkbox" type="checkbox" id="id_show_vote_box" checked="true">
                <span class="slider"></span>
            </label>
        {% endif %}
        <span class="vote-stats-info">{{ _('Show Quartiles') }}</span>
        <label class="switch">
            <input class="checkbox" type="checkbox" id="id_show_quartiles_box" checked="true">
            <span class="slider"></span>
        </label>
        <span class="vote-stats-info">{{ _('Show Mean') }}</span>
        <label class="switch">
            <input class="checkbox" type="checkbox" id="id_show_mean_box" checked="true">
            <span class="slider"></span>
        </label>
        <br/>
        <span class="vote-stats-info">{{ _('Median Vote:') }}</span>
        <span class="vote-stats-value">{{ median_vote|floatformat }}</span>
        <span class="vote-stats-info">{{ _('Mean Vote:') }}</span>
        <span class="vote-stats-value">{{ mean_vote|floatformat }}</span>
        <span class="vote-stats-info">{{ _('Number of Votes:') }}</span>
        <span class="vote-stats-value">{{ num_votes }}</span>
    {% else %}
        <span class="vote-stats-info">{{ _('No Votes Available!') }}</span>
    {% endif %}
</div>

<script>
    let xlabels = [];
    let min_points = 0; // lakshy there should be a thing for both min and max, refer to views/problem.py and
                        // search for: max(settings.DMOJ_PROBLEM_MIN_USER_POINTS_VOTE, settings.DMOJ_PROBLEM_MIN_PROBLEM_POINTS
    let max_points = 50;
    let voteFreq = [];
    for(let i=min_points; i<=max_points; i++) {
        xlabels[i] = i;
        voteFreq[i] = 0;
    }

    let data = [2, 3, 5, 6, 0, 0, 0, 0, 2]; // TODO lakshy you need to give me real data
    for(let i=0; i<data.length; i++) {
        // assume data is valid
        voteFreq[data[i]]++;
    }

    const voteData = {
        labels: xlabels,
        datasets: [{
            label: 'Number of votes for this point value',
            data: voteFreq,
            borderColor: 'red',
            backgroundColor: 'pink'
        }]
    };

    const voteDataConfig = {
        type: 'bar',
        data: voteData,
        options: {
            responsive: true,
        }
    };

    let voteChart = new Chart(document.getElementById('voteChart'), voteDataConfig);

</script>