<style>
    .vote-stats-background{
        background-color: rgb(255,255,255);
        padding: 20px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .canvas{
        border: 1px;
        border: solid;
        border: #000000;
    }

    .vote-stats-value{
        font-size: 24px;
    }

    .vote-stats-text{
        font-size: 18px;
    }

    .vote-stats-info{
        font-size: 24px;
        font-weight: bold;
        padding:10px
    }
</style>
<div class="vote-stats-background" id="id_vote_stats">
    <span class="vote-stats-info">Voting Statistics</span>
    <br/>
    <canvas class="canvas" id="id_canvas"></canvas>
    <br/>
    <span class="vote-stats-info">footer</span>
</div>
<script defer>
    const canvas = document.getElementById('id_canvas')
    const width = 800
    const height = 300
    canvas.width = width
    canvas.height = height

    const ms_per_frame = 50
    const plot_padding = 20
    const font_size = 12

    let display_votes = false
    {% if can_vote %}
        display_votes = true
        const votes = []
        {% for vote in all_votes %}
            votes.push({{ vote }})
        {% endfor %}
    {% endif %}

    setInterval(function(){
        const ctx = canvas.getContext('2d')

        ctx.fillStyle = 'rgb(255,255,255)'
        ctx.fillRect(0,0,width,height)

        const points_range = {{ max_vote }}-{{ min_vote }}
        const min_graph_points = Math.max(points_range-points_range/4.0,{{ min_possible_vote }})
        const max_graph_points = Math.min(points_range+points_range/4.0,{{ max_possible_vote }})

        ctx.fillStyle = 'rgb(211,211,211)'
        const plot_width = width-2*plot_padding
        const plot_height = height-2*plot_padding
        ctx.fillRect(plot_padding,plot_padding,plot_width,plot_height)

        ctx.fillStyle = 'rgb(94,101,105)'
        ctx.textAlign = 'center'
        ctx.textBaseline = 'middle'
        ctx.font = font_size+'px Arial'
        let points = min_graph_points
        let points_text_x = plot_padding
        let points_text_y = height-plot_padding/2
        ctx.strokeStyle = 'rgb(170,170,170)'
        let line_start_y = plot_padding
        let line_end_y = plot_padding+plot_height
        for(let i=0;i<=10;i++){
            ctx.moveTo(points_text_x, line_start_y)
            ctx.lineTo(points_text_x, line_end_y)
            ctx.stroke()
            ctx.fillText(points+'p', points_text_x, points_text_y)

            points += points_range/10.0
            points_text_x += plot_width/10.0
        }
    },ms_per_frame)
</script>